$main-color: #ffca93;
$chekTask: #ffdfbe;
$color-body:#B2681B;
$primary: #225CFF;
$TdWrbord:#905b3cf2;
$gray:  #C8CCD4;
$font-family: "Roboto", sans-serif;
$Open-Sans:Open Sans;
$headerh1: #7f4b13;
$footerText: rgba(127, 75, 19, 0.42);
$radioColor: red;
