$main-color: #ffca93;
$chekTask: #ffdfbe;
$color-body: #b2681b;
$primary: #225cff;
$TdWrbord: #905b3cf2;
$gray: #c8ccd4;
$font-family: "Roboto", sans-serif;
$Open-Sans: Open Sans;
$headerh1: #7f4b13;
$footerText: rgba(127, 75, 19, 0.42);
$radioColor: red;
$TdwrapCol: #fff4e9;
$inputRadio: green;
$checkBoxAftBack: rgb(172, 170, 170);
$inputTask: #ffecd8;
$OptionInpAft: #40e0d0;
$OptionInpCheck: #feb567;
$OptionInputColor: #fff;
$OptionInputBack: #ffdfbe;
